@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.top-artists {
    justify-content: space-evenly;
    width: 100%;
    background-color: #212121;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Comfortaa', cursive;
}

.button-confirm {
    margin: 10px;
    background-color: #1db954; 
    border: none;
    color: rgb(8, 8, 8);
    padding: 15px 32px;
    font-size: 14px;
    border-radius: 50px;
    position: relative;
    }

.section-title {
    text-align: center;
    width: 100%;
    background-color: #1db954;
}

.checkbox-text {
    text-align: center;
    color: #fff;
    margin: 10px;
    
}

.title {
    font-weight: bold;
    color: #000;
}

input[type='checkbox']{
    margin-right: 10px;
}

body{
    padding: 0;
    margin: 0;
}
