.top-artists {
    justify-content: space-evenly;
    width: 100%;
    background-color: #212121;
    display: flex;
    flex-wrap: wrap;
}

.button-confirm {
    background-color: #1db954; 
    border: none;
    color: rgb(8, 8, 8);
    padding: 15px 32px;
    font-size: 14px;
    border-radius: 50px;
    position: relative;
    bottom: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

.section-title {
    text-align: center;
    width: 100%;
    background-color: #1db954;
}

.checkbox {
    border-width: 10px; 
    text-align: center;
    color: #fff;
}

.title {
    font-weight: bold;
    color: #000;
}


body{
    padding: 0;
    margin: 0;
}
